/* ? general styles below */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Overpass:wght@300&display=swap"); */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* font-family: "Open Sans", sans-serif;
  font-family: "Overpass", sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: rgb(32, 41, 55);
}

main {
  max-width: 500%;
}

a,
header,
.nav-links {
  color: white;
  text-decoration: none;
  list-style: none;
}

.content-one,
.content-two,
.content-three,
.content-four {
  height: 357px;
  padding: 50px;
}

/* ? button styling - 2 button style types */

.bttn {
  margin-top: 8px;
  border-radius: 9px;
  /* padding: 5px 5px; */
  height: 30px;
  width: 130px;
  transition: all 0.2s ease 0s;
  font-size: 16px;
  font-weight: bold;
}

.bttn.bttn-light {
  color: white;
  background-color: transparent;
  border: solid white;
}

.bttn.bttn-light:hover {
  cursor: pointer;
  background-color: rgb(30, 49, 106);
  color: white;
  border: none;
}

.bttn.bttn.bttn-light:active {
  background-color: rgba(30, 49, 106, 0.763);
}

.bttn.bttn-dark {
  color: white;
  background-color: royalblue;
  border: none;
}

.bttn.bttn-dark:hover {
  cursor: pointer;
  background-color: transparent;
  border: solid white;
  color: white;
}

.bttn.bttn.bttn-dark:active {
  background-color: rgba(255, 255, 255, 0.076);
}

/* ? navbar styling */

header {
  /* border: solid #22d3ff; */ /*! border */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 21%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.logo {
  cursor: pointer;
  transition: all 0.2s ease 0s;
  font-size: 50px;
}

.logo:hover {
  color: rgb(60, 130, 246);
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 18px;
}

.nav-links li a {
  transition: all 0.2s ease 0s;
}

.nav-links li a:hover {
  color: rgb(60, 130, 246);
  border-bottom: solid 1px rgb(60, 130, 246);
  padding: 4px;
}

/* ? first section of content below the navbar, 1/4 */

.content-one {
  /* border: solid green;*/ /*! border */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-one-inner {
  /* border: solid red; */ /*! border */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 1000px;
}

.content-left,
.content-right {
  width: 450px;
}

.content-left {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.left-text-title {
  font-size: 40px;
  color: white;
}

.left-text {
  color: rgb(150, 163, 175);
  line-height: 22px;
}

.content-right {
  background-color: rgba(201, 201, 201, 0.485);
  border-radius: 2px;
  width: 450px;
  height: 250px;
  text-align: center;
  color: rgb(228, 225, 225);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ? second content section right below the first, 2/4 */

.content-two {
  background-color: white;
}

.info {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.boxes-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.blue-box {
  border: solid 3.5px rgba(0, 114, 245, 0.792);
  border-radius: 12px;
  height: 129px;
  width: 140px;
}

.subtext {
  color: slategray;
  width: 145px;
  text-align: center;
}

/* ? third section directly under the second section (the one with the blue boxes), 3/4 */

.content-three {
  background-color: rgb(229, 231, 234);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  width: 750px;
}

.quote {
  font-weight: 220;
  font-size: 35px;
}

.author {
  align-self: flex-end;
  font-weight: bolder;
  font-size: 17px;
}

/* ? the fourth section (under the quote), 4/4 */

.content-four {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-left-head {
  font-weight: bolder;
  color: white;
  font-size: 20px;
}

.modal-left-text {
  color: rgba(255, 255, 255, 0.565);
}

.modal {
  background-color: rgb(60, 130, 246);
  width: 1000px;
  padding: 50px 110px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
